* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-size: 10px;
}
/* @media (max-width: 1200px) {
  html {
    font-size: 56%;
  }
}
@media (max-width: 776px) {
  html {
    font-size: 50%;
  }
} */

body {
  font-family: "Poppins", "Arial", sans-serif;
  color: #666666;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  max-width: 1380px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  appearance: none;
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 720px) {
  .container {
    max-width: 720px;
  }
}
.trans-04 {
  transition: all 0.4s;
}
@media (max-width: 1600px) {
  .container {
    max-width: 1200px;
  }
}

.product-preview-shortcode {
  height: 100%;
  position: relative;
}

.swiper-container {
  width: 100%;
}

.swiper-pagination {
  bottom: 0;
  padding-bottom: 10px;
}

.swiper-wrapper {
  padding-inline-start: 0;
}

.section-title {
  font-size: 3.6rem;
  line-height: 1.1;
  text-transform: uppercase;
  color: #222;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
@media (max-width: 992px) {
  .fixed-lg {
    position: sticky !important;
    padding-bottom: 0 !important;
  }
}

.swal-title {
  color: #333333;
  font-size: 18px;
  line-height: 1.5;
  padding: 0 15px;
}
.swal-button {
  background-color: #717fe0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  font-weight: unset;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  outline: none;
}
.swal-button:hover {
  background-color: #333 !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input {
  display: block;
  border: none;
  outline: none;
}
@keyframes top-offer-button {
  from {
    opacity: 0.8;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(1.4);
  }
}
.Toastify {
  position: absolute;
  z-index: 1000000;
}

.Toastify__toast-body {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
.spinner-4 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 1px;
  margin-bottom: 30px;
  background: conic-gradient(#0000 10%, rgb(242, 122, 26)) content-box;
  -webkit-mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg 20deg,
      #0000 21deg 36deg
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - 9px),
      #000 calc(100% - 8px)
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: s4 1s infinite steps(10);
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
@keyframes s4 {
  to {
    transform: rotate(1turn);
  }
}

.fv {
  position: relative;
  min-width: 52px;
  height: 50px;
  margin: 0 0 0 15px;
  border-radius: 6px;
  box-shadow: 0 1px 4px #0000000d;
  border: solid 1px #e6e6e6;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fv span {
  color: #8c8c8c;
  font-size: 22px;
}
.fv span::before {
  content: "\e9da";
}
.fv.active span::before {
  content: "\1f49b";
  color: #f27a1a;
}
html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-thumb {
  background: #d6d1ce;
  border-radius: 25px;
}
html::-moz-scrollbar {
  width: 13px;
}

html::-moz-scrollbar-thumb {
  background: #d6d1ce;
  border-radius: 25px;
}
@keyframes openModal {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 1;
    transform: translateY(90%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes closeModal {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.8;
    transform: translateY(60%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
